@use 'var';

.shows {
    padding: 2vw 5.6vw;

    &__tabs {
        margin-bottom: 44px;
        display: flex;
        justify-content: center;

        &__button {
            color: var.$clr-text-secondary;
            font-size: 20px;
            text-transform: uppercase;
            margin-inline: .85rem;
            border: none;
            background-color: transparent;
            padding: .25rem;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--active {
                border-color: var.$clr-text-secondary;
            }
        }
    }

    &__wrapper {
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;

        &--active {
            display: grid;
        }
    }
}

.show {
    &__img {
        width: 100%;
        display: block;
        border-radius: .25rem;
    }
}